In [ ]:
#Create a string made of the first, middle and last character
st = "James"
middle_index = int(len(st)/2)
new_st = st[0]+st[middle_index]+st[-1]
print(new_st)

In [4]:
#Create a string made of the middle three characters
str1 = "JaSonAy"
middle_index = int(len(str1)/2)
new_st = ''
for i in range(3):
     new_st += str1[middle_index-1]
     middle_index +=1
print(new_st)

Son

In [6]:
#solution 2 easy
str1 = "JaSonAy"
middle_index = int(len(str1)/2)
new_st1 = str1[middle_index-1:middle_index+2]
print(new_st1)

Son

In [2]:
#Append new string in the middle of a given string
s1 = "Ault"
s2 = "Kelly"
middle_index = int(len(s1)/2)
x = s1[:middle_index]
x = x + s2
s3 = x + s1[middle_index:]
print(s3)

AuKellylt

In [1]:
#Create a new string made of the first, middle, and last characters of each input string
s1 = "America"
s2 = "Japan"

middle_index = int(len(s1)/2)
middle_index1 = int(len(s2)/2)
x = s1[0]+s2[0]
y = s1[middle_index] + s2[middle_index1]
z = s1[-1] + s2[-1]
s3 = x + y + z
print(s3)

AJrpan

In [12]:
#Arrange string characters such that lowercase letters should come first
str1 = "PyNaTive"
s3 = ''
s4 = ''
for i in str1:
     if(i.islower()):
          s3 += i
     elif(i.isupper()):
          s4 += i
print(s3+s4)

yaivePNT

In [13]:
#Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
c1 = 0
c2 = 0
c3 = 0
for i in str1:
     if(i.isalpha()):
          c1 += 1
     elif(i.isdigit()):
          c2 += 1
     else:
          c3 += 1
print(c1)
print(c2)
print(c3)

8
3
4

In [15]:
#String characters balance Test
s1 = "Yn"
s2 = "PYnative"
s3c ='Ynf'

print(s1 in s2)
print(s3 in s2)

True
False

In [21]:
#Find all occurrences of a substring in a given string by ignoring the case
str1 = "Welcome to USA. usa awesome, isn't it?"
s2 = str1.lower()
print(s2.count('usa'))

2

In [1]:
#Calculate the sum and average of the digits present in a string
str1 = "PYnative29@#8496"
s = 0
count = 0
for i in str1:
     if(i.isdigit()):
          s += int(i)
          count+=1
print(s)
print(s/count)

38
6.333333333333333

In [8]:
#solution2 using reg exp
import re

input_str = "PYnative29@#8496"
p1 = '[a-zA-Z]+'
p2 = '[^a-zA-Z_0-9]+'
dig = [int(n) for n in re.findall(r'\d',input_str) ]
ch = [str(s) for s in re.findall(p1,input_str)]
sc = [str(s) for s in re.findall(p2,input_str)]

print(ch)
print(sc)
print(sum(dig))
print(sum(dig)/len(dig))

['PYnative']
['@#']
38
6.333333333333333

In [13]:
#Reverse a given string
str1 = "PYnative"
print(str1[::-1])
str2 = ''.join(reversed(str1))
print(str2)

evitanYP
evitanYP

In [14]:
#Find the last position of a given substring
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print(str1.rfind('Emma'))

43

In [16]:
#Write a program to split a given string on hyphens and display each substring.
str1 = 'Emma-is-a-data-scientist'
s2 = str1.split('-')
for i in s2:
     print(i)

Emma
is
a
data
scientist

In [24]:
#Remove empty strings from a list of strings
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
s1 = []
for i in str_list:
     if i:
          s1.append(i)    
print(s1)

['Emma', 'Jon', 'Kelly', 'Eric']

In [29]:
#Remove special symbols / punctuation from a string
import re
str1 = "/*Jon is @developer & musician"
p1 = '[a-zA-z]+'
d = [str(n) for n in re.findall(p1,str1)]
str3 = ' '.join(d)
print(str3)

Jon is developer musician

In [4]:
#Reverse a list in Python
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [7]:
#Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i,j in zip(list1,list2)]     
print(list3)

['My', 'name', 'is', 'Kelly']

In [18]:
#Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]
Square_list = []
for i in numbers:
     Square_list.append(i**2)
print(Square_list)

[1, 4, 9, 16, 25, 36, 49]

In [19]:
#solution 2
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [x*x for x in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [2]:
#Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [3]:
#Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()

for l1,l2 in zip(list1,list2):
     print(l1,l2)

10 400
20 300
30 200
40 100

In [4]:
#Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list2= []
for i in list1:
     if i:
          list2.append(i)
print(list2)

['Mike', 'Emma', 'Kelly', 'Brad']

In [5]:
#solution 2
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list2 = [x for x in filter(None,list1)]
print(list2)

['Mike', 'Emma', 'Kelly', 'Brad']

In [15]:
#Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [16]:
#Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [18]:
#Replace list’s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]
x = list1.index(20)
list1[x] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [24]:
#Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]
list2 = [x for x in list1 if x!=20]
print(list2)

[5, 15, 25, 50]

In [26]:
#Reverse the tuple
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [27]:
#Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [28]:
#Unpack the tuple into 4 variables
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

10
20
30
40

In [30]:
#Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1,tuple2 = tuple2,tuple1

print("Tuple1:",tuple1)
print("Tuple2:",tuple2)

Tuple1: (99, 88)
Tuple2: (11, 22)

In [31]:
#Copy specific elements from one tuple to a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

In [36]:
#Modify the tuple
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)